@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800");
/*______________________________________________________________________________ title styles */
.m-title-light {
  font-family: Roboto, san-serif;
  font-size: 24px; }

.m-title-medium {
  font-family: Roboto, san-serif;
  font-size: 32px; }

.m-title-big {
  font-family: Roboto, san-serif;
  font-size: 4vw; }

.mtb-space {
  margin-left: 5vw; }

/*______________________________________________________________________________ paragraphs styles */
.p-text-light {
  color: #fff;
  font-family: Roboto, san-serif;
  font-size: 12px;
  font-weight: 100; }

.p-text-light1 {
  color: #fff;
  font-family: Roboto, san-serif;
  font-size: 16px;
  font-weight: 100; }

.p-text-light2 {
  font-family: Roboto, san-serif;
  font-size: 16px; }

.p-text-medium {
  font-family: Roboto, san-serif;
  font-size: 16px; }

.p-text-big {
  font-family: Roboto, san-serif;
  font-size: 18px; }

.ptm-space {
  margin-top: -10px;
  margin-left: 5vw;
  text-align: right; }

/*______________________________________________________________________________ bold styles */
.bold1 {
  font-weight: 500; }

.bold2 {
  font-weight: 600; }

.bold3 {
  font-weight: 700; }

.bold4 {
  font-weight: 800; }

/*______________________________________________________________________________ uppercase/lowercase styles */
.upper {
  text-transform: uppercase; }

.lower {
  text-transform: lowercase; }

.font_space {
  margin-left: 20px; }

.auto-margin, .separate_line, .separate_line1, .main-title, .town_postcode, .formsubmition, .search_options, .copyrights {
  margin: auto;
  width: 80%; }

.form-control, .btn {
  box-shadow: 0px 4px 0px #303030 !important; }

.auto-margin {
  margin-bottom: 20px; }

html,
body,
.row {
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  color: #fff;
  background-color: #2E4A63; }

h1 {
  font-size: 2.2em; }

h2 {
  font-size: 2.0em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1.4em; }

p {
  font-size: 1.2em; }

.hidden {
  visibility: hidden; }

a {
  color: #fff;
  text-decoration: none; }

a:hover {
  color: #ffb400;
  text-decoration: none; }

.separate_line {
  background-color: #fff;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 40px; }

.separate_line1 {
  background-color: #fff;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 30px; }

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -70px;
  border: 16px solid #ffffff;
  border-radius: 50%;
  border-top: 16px solid #ffb400;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s; }

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0; }
  to {
    bottom: 0px;
    opacity: 1; } }
@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }
.main_logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%; }

@media screen and (max-width: 780px) {
  .main_logo img {
    max-width: 60%; } }
@media screen and (max-width: 400px) {
  .main_logo img {
    max-width: 70%; } }
.main-title {
  margin-left: auto;
  margin-right: auto; }

.lead-edit {
  margin-bottom: 10px; }

.form-group {
  margin-bottom: 40px; }

.text-muted {
  color: #fff; }

.text-muted1 {
  color: #fff;
  border-bottom: 1px solid #f00; }

.btn {
  float: left;
  width: 150px; }

.btn-primary {
  color: #fff;
  background-color: #2E4A63;
  border-color: #fff; }

.btn-primary:hover {
  color: #000;
  background-color: #ffb400;
  border-color: #ffb400; }

.geoloc_button {
  margin-top: 10px;
  margin-left: -14px;
  float: left;
  border: 2px solid #ffb400; }

.geoloc_button:hover {
  color: #ffffff;
  background-color: #ffb400;
  border: 2px solid #ffb400; }

.clearfields_button {
  float: right;
  margin-top: 10px;
  margin-right: -14px;
  border: 2px solid #ffffff; }

.clearfields_button:hover {
  margin-top: 10px;
  margin-left: -14px;
  color: #fff;
  background: #670000;
  border-color: #670000; }

@media screen and (max-width: 768px) {
  .clearfields_button {
    float: left;
    margin-top: 20px;
    margin-left: -14px; }

  .clearfields_button:hover {
    margin-top: 20px;
    margin-left: -14px;
    color: #fff;
    background: #670000;
    border-color: #670000; } }
@media screen and (max-width: 320px) {
  .geoloc_button {
    margin-top: 10px;
    margin-left: -14px;
    float: left;
    width: 100%;
    border: 2px solid #ffb400; }

  .geoloc_button:hover {
    color: #ffffff;
    background-color: #ffb400;
    border: 2px solid #ffb400;
    width: 100%; }

  .clearfields_button {
    float: right;
    margin-top: 10px;
    margin-right: -14px;
    border: 2px solid #ffffff;
    width: 100%; }

  .clearfields_button:hover {
    margin-top: 10px;
    margin-left: -14px;
    color: #fff;
    background: #670000;
    border-color: #670000;
    width: 100%; } }
.search_options {
  vertical-align: middle; }

input[type="checkbox"] {
  margin: 20px 0 0;
  vertical-align: 4px; }

.clearcheck_button {
  float: right;
  margin-top: -45px;
  margin-right: -14px;
  border: 2px solid #ffffff !important; }

.clearcheck_button:hover {
  margin-top: -45px;
  margin-left: -14px;
  color: #fff;
  background: #670000 !important;
  border-color: #670000 !important; }

@media screen and (max-width: 768px) {
  .clearcheck_button {
    float: left;
    margin-top: 20px;
    margin-left: -14px; }

  .clearcheck_button:hover {
    margin-top: 20px;
    margin-left: -14px;
    color: #fff;
    background: #670000 !important;
    border-color: #670000 !important; } }
.btn_wide {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%; }

footer {
  margin-bottom: 20px;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
