@import './fontstyles.scss';

//______________________________________________________________________________ CLASSES and VARIABLES
$primary-color: #2E4A63;
%basic_margin {
    margin: auto;
    width: 80%;
}


//______________________________________________________________________________ BASIC CSS STYLE
html,
body {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    min-height: 100%;
    color: #fff;
    background-color: $primary-color
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

p {
    font-size: 1.2em;
}


.hidden {
    visibility: hidden;
}

a {
    color: #fff;
}

a:hover {
    color: #ffb400;
    text-decoration: none;
}

.separate_line {
    background-color: #fff;
    height: 1px;
    margin-top: 40px;
    margin-bottom: 40px;
    @extend %basic_margin;
}

//______________________________________________________________________________ MAIN LOGOTYPE AND TEXT
.main_logo {
    img {
        margin-top: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 40%;
        max-width: 40%;
    }
}

.main-title {
    margin-left: auto;
    margin-right: auto;
    @extend %basic_margin;
}

//______________________________________________________________________________ MAIN FORM AND ALL CRITERIA FIELDS
.main_form {}

.form-control {
    margin-bottom: 30px;
}

//______________________________________________________________________________ TOWN AND POSTCODE FIELDS
.town_postcode {
    @extend %basic_margin;
}

//______________________________________________________________________________ GEO LOCALIZATION + BUTTON
.geoloc {
    margin-top: 20px;
    margin-bottom: 20px;
    @extend %basic_margin;
}

.geoloc_button {
    float: left;
}


//______________________________________________________________________________ SEARCH OPTIONS - MAIN PAGE
.search_options {
    @extend %basic_margin;
}

input[type="checkbox"] {
    margin: 20px 0 0;
}

//______________________________________________________________________________ BUTTON PRIMART - MAIN PAGE
.formsubmition {
    @extend %basic_margin;
}

.btn {
    float: right;
}

.btn-primary {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #ffb400!important;
    border-color: #ffb400;
}

//______________________________________________________________________________ FOOTER - MAIN PAGE
footer {
    height: 20px;
    text-align: center;
}

.copyrights {
    display: block;
    @extend %basic_margin;
}
