//______________________________________________________________________________ CLASSES and VARIABLES
$primary-color: #2E4A63;
$secondary-color: #ffb400;
$primary-font: #ffffff;
$secondary-font: #000000;

%m_little_stylye {
    width: 40px;
    height: 50px;
    padding: 0;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 13px;
}

%marker_stylye {
    width: 24px;
}

%tiptext_style {
    width: 160px;
    color: $primary-color;
    background-color: #ffffff;
    border: 2px solid $primary-color;
    border-radius: 0px 25px 25px 0px;
    padding: 5px 0;
    margin-left: 47px;
    margin-top: 8px;
    text-align: center;
    position: absolute;
    z-index: 1;
    visibility: hidden;
}


.small_sidebar_main {
    width: 100%;
    height: 100%;
    min-height: 300px;
    .little_icons {
        width: 100%;
        height: 100%;
    }
    .little_iPosition,
    .little_iClubs,
    .little_iPubs,
    .little_iBars {
        @extend %m_little_stylye;
        img {
            @extend %marker_stylye;
        }
        .tiptext_h {
            @extend %tiptext_style;
        }
        .tiptext_s {
            @extend %tiptext_style;
        }
    }

}

.side_line {
    background-color: #fff;
    height: 1px;
    @extend %basic_margin;
}

.download_button {
    @extend %m_little_stylye;
    position: absolute;
    bottom: 60px;
    img {
        @extend %marker_stylye;
    }
    .tiptext {
        @extend %tiptext_style;
    }

}

.bottom_exit {
    .exit_sSidebar {
        .close_map {
            width: 30px;
            height: 40px;
            margin: 0;
            padding: 0;
            bottom: 20px;
            left: 18px;
            position: absolute;
            img {
                width: 30px;
                height: 30px;
            }
        }
    }
}

.little_iPosition:hover .tiptext_h {
    visibility: visible;
}

.little_iClubs:hover .tiptext_h {
    visibility: visible;
}

.little_iPubs:hover .tiptext_h {
    visibility: visible;
}

.little_iBars:hover .tiptext_h {
    visibility: visible;
}

.download_button:hover .tiptext_h {
    visibility: visible;
}

.little_iPosition:hover .tiptext_s {
    visibility: visible;
}

.little_iClubs:hover .tiptext_s {
    visibility: visible;
}

.little_iPubs:hover .tiptext_s {
    visibility: visible;
}

.little_iBars:hover .tiptext_s {
    visibility: visible;
}

.download_button:hover .tiptext_s {
    visibility: visible;
}
